@font-face {
    font-family: "Sofia-Pro-Bold";
    src: url("fonts/sofia-pro-bold.woff2") format("woff");
}
@font-face {
    font-family: "Sofia-Pro-Regular";
    src: url("fonts/sofia-pro-regular.woff2") format("woff");
}