@import '../../../styles/colors';

.button {
    margin: 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    color: $mid-grey;
    border: 1px solid $mid-grey;
    font-family: Sofia-Pro-Regular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: transparent;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}